<style>

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: gray;
}

 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
 }

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}

a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

</style>


<h2>{{this.title}}</h2>
<p>Catagoria: {{this.category}}</p>
<p>comentários: {{this.comments}}</p>
<a href="">Veja post</a>

