<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.cs">
    <title>Contatos</title>
</head>
<body>
    <style>
        h1{
            color: aqua;
        }

        p{
            color: blueviolet;
        }
    </style>
   <h1>Contatos</h1>
   <p>Esta pagina e dos contatos</p>
</body>
</html>