<h2>Página Home</h2>
<h4>O nome {{user.name}} {{user.surname}} a idade {{user.age}} anos</h4>
<h5>{{palavra}}</h5>
{{#if auth}}
<p>Voce está logado, <a href="./dashboard">Clique aqui</a> Para acessar a área de membros</p>
{{/if}}